.popularProduct{
    .title-popular{
        margin: 0 80px;
        margin-top: 50px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-size: 20px;
        font-weight: 400;

        
    }
    .list-pro{
        .cart:hover .image-cart{
            transform: scale(1);
        }
    }
}