.introduce{
    background-color: black;
    height: 390px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .left-intro{
        width: 50%;
        img{
            width: 100%;
            object-fit: cover;

        }
    }
    .right-intro{
        color:#fff;
        .title-intro,
        .author-intro{
            margin-top: 20px;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
        }
        .title-intro{
            font-size: 15px;
            margin-left: 10px;
            font-style: italic;
        }
        .content-intro{
            font-size: 15px;
            margin-top: 15px;
            letter-spacing: 1.2px;
        }
        div:nth-child(4){
            font-size: 20px;
            margin-left: 50px;
            margin-top: 20px;
            text-transform: uppercase;
            font-style: italic;
            text-decoration: underline;
        }

    }
}