
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;
    display: flex;
    margin-top: 36px;
    height: 102px;
    width: 100%;
    background-color: #00081c;
    color: #ffffff;
    padding: 16px 8px;

}
.line-navbar{
    width: 100%;
   background-color: #f7cd38 !important;
   height: 36px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 11;


}
.line-navbar::before{
    content: "SUMMER DEALS";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    letter-spacing: 1.4px;
}
.l-navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    font-size: 20px;
    margin-left: 20px;
}
.center-navbar{
    width: 60%;
    margin-left: 106px;
    
    .title-navbar{
        text-align: center;
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 1.3px;

    }
    .item-navbar{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: 20px;
        font-size: 13px;
        text-transform: uppercase;

    }
}
.r-navbar{
    width: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 210px;
    font-size: 22px;
    
}
.menu-icon{
    position: relative;
    cursor: pointer;
    transform: var(--tran-03);
    opacity: 1;
    z-index: 13;
}
.menu-icon:hover{
opacity: 0.6;
}