.find-more-wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-more-content{
    width: 310px;

}
.pro-find-more{
    margin-top: 30px;
}
.text-find{
    text-align: center;
    font-size: 25px;
    letter-spacing: 2.7px;
    line-height: 1.4;
    word-break: break-word;
}
.pro-find-more p{
    padding: 12px 46px;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

.info-subcribe {
    margin-top: 30px;
    width: 552px;
    height: 320px;
    color: #fff;
    
  }
  .subcribe {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 394px;
    width: 100%;
    background-color: #00081c;
  }
  .info-subcribe p:nth-child(1) {
    font-weight: 300;
    letter-spacing: 2.7px;
    font-size: 20px;
    line-height: 1.9;
    word-break: break-word;
    text-align: center;
    width: 600px;
  }
  .info-subcribe p:nth-child(2) {margin-top: 22px;
    letter-spacing: 2.7px;
    font-size: 12px;
    letter-spacing: 1.6;
    line-height: 1.6;
    text-align: left;
    font-weight: 300;
    margin-bottom: 30px;
    width: 679px;
  }
  .btn-subcribe{
    text-transform: uppercase;
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 300;
  }
  .info-subcribe input {
    position: relative;
    padding: 15px 100px 15px;
    background-color: #00081c;
    border: #fff 1px solid;
  }
  input::placeholder {
    position: absolute;
    left: 10px;
    color: #fff;
  }
  .info-subcribe button {
    font-size: 20px;
    margin-left: 75px;
  
    color: #fff;
    background-color: #00081c;
    text-transform: uppercase;
  }
  
  .text-subcribe {
    margin-top: 10px;
    display: flex;
    /* display: inline-block; */
    justify-content: center;
    line-height: 1.6;
  
    /* text-indent: initial; */
    text-align: -webkit-center;
  }
  .text {
    font-size: 11px;
    display: block;
    width: 327px;
    height: 48px;
    margin-top: 15px;
    font-weight: 200;
  }

  .wrapper-footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
   
    .item{
        margin-top: 30px;
    }
}

footer {
    background-color: #F5F5F5;
    clear: both;
    height: 520px;
   
}

.nation {
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-left: 86px;

    font-size: 18px;
}

.item :first-child {
    font-size: 20px;
}

.item p {
    margin-top: 20px;
    opacity: 0.7;
    line-height: 1.5;
}

.item :not(:first-child) {
    font-size: 13px;
    word-break: break-word;
    letter-spacing: 1.2px;
}

.nation i {
    font-size: 30px;
}

.social-network {
    margin-top: 42px;
    margin-left: 80px;
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}