:root{
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
.cart{
    width: 317px;
    height: 512px;
    background-color:#f4f4f4;
    position: relative;
    margin-top: 10px;
    .wrapper-cart{
        margin-left: 30px;
        div{
            margin-top: 15px;
        }
        .title-cart{
            font-size: 17px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            line-height: 1.2;
            font-weight: 300;

        }
        .item1{
            img{
                margin-left: 6px;
                width: 19px;
                height: 19px;
                border-radius: 50%;
                box-shadow: inset 0 0 0 1px #0000000d;
                position: relative;
                
            }
        }

    }
    
    .icon-cart{
        
        position: absolute;
        right: 0;
        bottom: 143px;
        padding-right: 20px;
        font-size: 22px;
    }
    .new-cart{
        width: fit-content;
        
        padding: 4px 16px;
        background-color: black;
        color:#fff;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-size: 12px;

    }
    

}
.cart:hover .background-img{
    opacity: 1;
}
.cart:hover .image-cart{
    transform: scale(1.1);
}
.cart:hover .image-cart .background-img {
    transform: none;
}

.image-cart{
    position:relative;
    width: 317px;
    height: 317px;
    transition: var(--tran-05);
    img{
        width: 100%;
        object-fit: cover;
        transition: var(--tran-05);
        
    }
    .background-img{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 317px;
        height: 317px;
        transition: var(--tran-04);
    }
    
    .background-img:hover {
        opacity: 1;
    }
}
